{% extends "base.html" %}
{% block title %}Sproxy {{name_device}} - Sproxy Manager{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12 col-xl-4">
        <!-- table card start -->
        <div class="card table-card">
            <div class="">
                <div class="row-table">
                    <div class="col-sm-6 card-block-big br">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="icofont icofont-flash-drive text-success"></i>
                            </div>
                            <div class="col-sm-8 text-center">
                                <h5 id="total_usb">None</h5>
                                <span>Total USB</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 card-block-big">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="icofont icofont-ui-close text-danger"></i>
                            </div>
                            <div class="col-sm-8 text-center">
                                <h5 id="total_usb_error">None</h5>
                                <span>USB Error</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row-table">
                    <div class="col-sm-6 card-block-big br">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="icofont icofont-close-line text-info"></i>
                            </div>
                            <div class="col-sm-8 text-center">
                                <h5 id="total_usb_disconnect">None</h5>
                                <span>USB DisConN</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 card-block-big">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="icofont icofont-children-care text-warning"></i>
                            </div>
                            <div class="col-sm-8 text-center">
                                <h5 id="total_usb_connecting">None</h5>
                                <span>USB CONNECT ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- table card end -->
    </div>
    <div class="col-md-12 col-xl-4">
        <!-- table card start -->
        <div class="card table-card">
            <div class="">
                <div class="row-table">
                    <div class="col-sm-6 card-block-big br">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="icofont icofont-ui-check text-primary"></i>
                            </div>
                            <div class="col-sm-8 text-center">
                                <h5 id="usb_connected">NONE</h5>
                                <span>USB Connected</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 card-block-big">
                        <div class="row ">
                            <div class="col-sm-4">
                                <i class="icofont icofont-network text-primary"></i>
                            </div>
                            <div class="col-sm-8 text-center">
                                <h5 id="range_port">NONE</h5>
                                <span>Range Port</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row-table">
                    <div class="col-sm-6 card-block-big br">
                        <div class="row ">
                            <div class="col-sm-4">
                                <i class="icofont icofont-network text-primary"></i>
                            </div>
                            <div class="col-sm-8 text-center">
                                <h5 id="lan_primary">NONE</h5>
                                <span>Lan IP Primary</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 card-block-big">
                        <div class="row ">
                            <div class="col-sm-4">
                                <i class="icofont icofont-network-tower text-primary"></i>
                            </div>
                            <div class="col-sm-8 text-center">
                                <h5>100%</h5>
                                <span>Connections</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- table card end -->
    </div>
    <div class="col-md-12 col-xl-4">
        <!-- widget primary card start -->
        <div class="card table-card widget-primary-card">
            <div class="">
                <div class="row-table">
                    <div class="col-sm-3 card-block-big">
                        <i class="icofont icofont-star"></i>
                    </div>
                    <div class="col-sm-9">
                        <h4>Notes:</h4>
                        <h6>USB 3G/4G Hilink Support : E3531,E3131,E3331,E3276,E3272,E3372,K4203,U80,U90 .If the usb type is Stick version, you need to use the <a href="https://www.mediafire.com/folder/ll9ieqqooyhy5/Documents" target="_blank">firmware update tool</a> to Hilink</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- widget primary card end -->
        <!-- widget-success-card start -->
        <div class="card table-card widget-success-card">
            <div class="">
                <div class="row-table">
                    <div class="col-sm-3 card-block-big">
                        <i class="icofont icofont-trophy-alt"></i>
                    </div>
                    <div class="col-sm-9">
                        <h4>info</h4>
                        <h6>The Reset Port Proxy process is less than 6 seconds, which may be slower due to the quality of the network connection</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5>Proxy List control Panel</h5>
                <!-- <div class="card-header-right">
                    <i class="icofont icofont-rounded-down"></i>
                    <i class="icofont icofont-refresh"></i>
                </div> -->
                <div class="f-right">
                    <span class="f-left m-r-5 text-inverse">System load:  <span id="load" class="text-success">0</span></span>
                    <span class="f-left m-r-5 text-inverse">Up time:  <span id="uptime" class="text-info">0</span></span>
                    <span class="f-left m-r-5 text-inverse">Memory usage:  <span id="ram" class=""></span> </span>
                    <span class="f-left m-r-5 text-inverse">CPU temp:  <span id="cpu_temp" class="">0</span></span>
                    <span class="f-left m-r-5 text-inverse">Usage of /:  <span id="storage" class="">0</span></span>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive dt-responsive">
                    <table id="tb-proxy" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th class="text-center" width="2%"><div class="checkbox-fade fade-in-primary"><label><input type="checkbox" onClick="checkall(this);cache_select()"><span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span><span class="text-inverse">#</span></label></div></th>
                                <th>USB:Port</th>
                                <th>Device</th>
                                <th data-toggle="tooltip" data-placement="left" title="" data-original-title="Network name and internet transmission quality">Network</th>
                                <th>Mode</th>
                                <th data-toggle="tooltip" data-placement="left" title="" data-original-title="USB Support IPV6 or No">IMEI | IPV6 ?</th>
                                <th>IP Public</th>
                                <th data-toggle="tooltip" data-placement="left" title="" data-original-title="the uptime of the current session">Up Time</th>
                                <th data-toggle="tooltip" data-placement="left" title="" data-original-title="Traffic counter uses the current session and The traffic counter uses all sessions Total Recv/Sent/ALL">Recv/Sent</th>
                                <!-- <th data-toggle="tooltip" data-placement="left" title="" data-original-title="">Total Recv/Sent/ALL</th> -->
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="detail_proxy" class="modal fade bd-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><span class="ti-loop"></span> Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tb_px_detail" class="table custom-table">
                        <thead>
                            <tr>
                              <th>#</th>
                              <th>Proxy</th>
                              <th>Device</th>
                              <th>Seri Sim</th>
                              <th>IMSI</th>
                              <th>Serial</th>
                              <th>MAC Address</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                </table>
                </div>
            </div>
        </div>
  </div>
</div>
<div id="view_proxy" class="modal fade bd-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><span class="ti-loop"></span> GET Proxy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="f_view_px">
                <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="px_type">Type Proxy : <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-sm-10">
                            <select name="select" id="px_type" class="form-control" onchange="exp()">
                                <option value="http">HTTP</option>
                                <option value="http_v6">HTTP IPV6</option>
                                <option value="sock5">Sock5</option>
                                <option value="sock5_v6">Sock5 IPV6</option>
                            </select>
                        </div>
                        <div class="col-sm-2 col-form-label">
                            <label for="px_fmb">Format By : <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-sm-10">
                            <div class="form-radio" id="px_fmb">
                                    <div class="radio radiofill radio-inline">
                                        <label>
                                            <input type="radio" name="formatby" value="no" checked="checked">
                                            <i class="helper"></i>Not Use
                                        </label>
                                    </div>
                                    <div class="radio radiofill radio-inline">
                                        <label>
                                            <input type="radio" name="formatby" value="maxcare">
                                            <i class="helper"></i>Maxcare
                                        </label>
                                    </div>
                                    <div class="radio radiofill radio-inline">
                                        <label>
                                            <input type="radio" name="formatby" value="fplus">
                                            <i class="helper"></i>Fplus
                                        </label>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-form-label link_sv">
                            <label for="px_link">Link Service : <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-sm-10 link_sv">
                            <input type="text" class="form-control" id="px_link" value="" onclick="select()">
                        </div>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="res" rows="12" onclick=""></textarea>
                        </div>
                </div>
            </form>
            </div>
        </div>
  </div>
</div>
<div id="config_tb" class="modal fade bd-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><i class="ti-settings"></i> Config Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="number" class="form-control" id="time_rl" placeholder="Time Auto Reload Table (seconds)">
                        </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="config_table()" class="btn btn-info btn-sm">Save</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="gw_one" class="modal fade bd-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><i class="icofont icofont-flash-drive"></i> Change Gateway one USB</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form action="">
                <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="gw_old">Gateway old : <span class="text-danger">*</span></label>
                </div>
                <div class="col-sm-9">
                    <input type="text" id="gw_old" class="form-control" value="" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="gw_new">Gateway New : <span class="text-danger">*</span></label>
                </div>
                <div class="col-sm-9">
                    <input type="number" id="gw_new" class="form-control" value="999">
                </div>
            </div>
            <input type="hidden" id="gw_port" class="form-control" value="">
            </form>
            <div class="col-sm-12 col-md-12">
                <div class="alert alert-warning background-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled text-white"></i>
                    </button>
                    <strong>Notes : </strong> Change 999 to a number between 5 -> 255
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="change_one_gw()" class="btn btn-info btn-sm">Change</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="gw_multi" class="modal fade bd-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><i class="fad fa-usb-drive"></i> Build Gateway USB Selected</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form action="">
                <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="gws_total">Slected Total  : <span class="text-danger">*</span></label>
                </div>
                <div class="col-sm-9">
                    <input type="text" id="gws_total" class="form-control" value="" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="gw_new">Gateway Start : <span class="text-danger">*</span></label>
                </div>
                <div class="col-sm-9">
                    <input type="number" id="gws_start" class="form-control" value="999">
                </div>
            </div>
            </form>
            <div class="col-sm-12 col-md-12">
                <div class="alert alert-warning background-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled text-white"></i>
                    </button>
                    <strong>Notes : </strong> Change 999 to a number between 5 -> 255
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="change_multi_gw()" class="btn btn-info btn-sm">Change</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="f_nwmode" class="modal fade bd-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><i class="fad fa-usb-drive"></i> Change Network Mode</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form action="">
                <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="mode_nw">Slect Mode  : <span class="text-danger">*</span></label>
                </div>
                <div class="col-sm-9">
                    <select id="mode_nw" class="form-control">
                    </select>
                </div>
            </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="change_modenw()" class="btn btn-info btn-sm">Change</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/assets/js/proxy.js?ver={{version}}"></script>
{% endblock %}