    <!-- Menu aside start -->
<div class="main-menu">
    <div class="main-menu-header">
        <img class="img-40" src="/static/assets/images/sp.png" alt="User-Profile-Image">
        <div class="user-details">
            <span>Sproxy</span>
            <span id="more-details">Sproxy<i class="icon-arrow-down"></i></span>
        </div>
    </div>
    <div class="main-menu-content">
        <ul class="main-navigation">
            <li id="b_home" class="nav-item">
                <a href="/html/home">
                    <i class="ti-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>
                <li id="b_sms" class="nav-item">
                    <a href="/html/sms">
                        <i class="ti-email"></i>
                        <span>SMS</span>
                    </a>
                </li>
                <li id="b_ussd" class="nav-item">
                    <a href="/html/ussd">
                        <i class="ti-microsoft"></i>
                        <span>USSD</span>
                    </a>
                </li>
                <li id="b_dns" class="nav-item">
                    <a href="/html/dns_cf">
                        <i class="fa fa-coffee"></i>
                        <span>DNS CF</span>
                    </a>
                </li>
                <li id="b_api" class="nav-item">
                    <a href="#">
                        <i class="ti-world"></i>
                        <span>API</span>
                    </a>
                    <ul class="tree-1">
                        <li><a href="https://github.com/shally-vn/Sproxy-Document/blob/main/api_v1.md" target="_blank">API V1 </a></li>
                        <li><a href="https://github.com/shally-vn/Sproxy-Document/blob/main/api_v2.md" target="_blank">API V2</a></li>
                        <li><a href="https://github.com/shally-vn/Sproxy-Document/blob/main/api_v3.md" target="_blank">API V3</a></li>
                    </ul>
                </li>
                <li id="b_settings" class="nav-item">
                    <a href="/html/settings/general">
                        <i class="ti-settings"></i>
                        <span>Settings</span>
                    </a>
                </li>
        </ul>
    </div>
</div>