    <!-- Menu header start -->
    <nav class="navbar header-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-logo">
                <a class="mobile-menu" id="mobile-collapse" href="#!">
                    <i class="ti-menu"></i>
                </a>
                <a class="mobile-search morphsearch-search" href="#">
                    <i class="ti-search"></i>
                </a>
                <a href="/">
                    <img class="img-fluid" src="/static/assets/images/logo.png" alt="Theme-Logo" />
                </a>
                <a class="mobile-options">
                    <i class="ti-more"></i>
                </a>
            </div>
            <div class="navbar-container container-fluid">
                <div>
                    <ul class="nav-left">
                        <li>
                            <a id="collapse-menu" href="#">
                                <i class="ti-menu"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="header-notification">
                            <a href="#!">
                                <i class="ti-bell"></i>
                                <span class="badge">5</span>
                            </a>
                            <ul class="show-notification">
                                <li>
                                    <h6>Notification</h6>
                                    <label class="label label-danger">New</label>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center rounded-circle" src="/static/assets/images/sp.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Sproxy</h5>
                                            <p class="notification-msg mt-1">Plug more than 3 USB into the hub required to use an external power source, to avoid the unfortunate problem from occurring</p>
                                            <span class="notification-time">now</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center rounded-circle" src="/static/assets/images/sp.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Sproxy</h5>
                                            <p class="notification-msg mt-1">To turn off the device please go to Settiings -> Reboot -> Press reboot hardware, and wait 20 seconds and unplug the power from the proxy box</p>
                                            <span class="notification-time">now</span>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="media">
                                        <img class="d-flex align-self-center rounded-circle" src="/static/assets/images/sp.png" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Sproxy</h5>
                                            <p class="notification-msg mt-1">After changing the port service proxy, please restart the device.</p>
                                            <span class="notification-time">now</span>
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </li>
                        <li class="header-notification">
                            <a href="#!" class="displayChatbox">
                                <i class="ti-comments"></i>
                                <span class="badge">9</span>
                            </a>
                        </li>
                        <li class="user-profile header-notification">
                            <a href="#!">
                                <img src="/static/assets/images/sp.png" class="rounded-circle" alt="User-Profile-Image">
                                <span>Sproxy {{name_device}}</span>
                                <i class="ti-angle-down"></i>
                            </a>
                            <ul class="show-notification profile-notification">
                                <li>
                                    Expired : <span class="text-success">Forever</span>
                                </li>
                                <li>
                                    <a href="/html/settings/general">
                                        <i class="ti-settings"></i> Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="/html/logout">
                                        <i class="ti-layout-sidebar-left"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Menu header end -->