{% extends "base.html" %}
{% block title %}Sproxy {{name_device}} - {{tit}}{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/assets/pages/list-scroll/list.css">
<link rel="stylesheet" type="text/css" href="/static/bower_components/stroll/css/stroll.css">
<div class="card-block email-card">
    <div class="row">
        <!-- Left-side section start -->
        <div class="col-lg-12 col-xl-3">
            <div class="user-head row">
                <div class="user-face">
                    <img src="/static/assets/images/sp.png" class="img-60 rounded-circle" alt="User-Profile-Image">
                </div>
                <div class="user-name">
                    <span>Sproxy {{name_device}}</span>
                    <span>Sproxy 4G</span>
                </div>
            </div>
            <div class="user-body">
                <div class="card-block">
                    <button class="btn btn-success btn-block" onclick="$('#send_sms').modal()"><i class="ti-plus"></i>Send A New SMS</button>
                </div>
                <div class="card">
                    <ul class="page-list scroll-list wave" id="list_port">
                    </ul>
                </div>
            </div>
        </div>
        <!-- Left-side section end -->
        <!-- Right-side section start -->
        <div class="col-lg-12 col-xl-9">
            <div class="mail-box-head row">
                <div class="col-sm-3">
                    <select name="boxtype" id="boxtype" class="form-control form-control-primary" onchange="view_box_type()">
                        <option value="1">Inbox</option>
                        <option value="2">Outbox</option>
                        <option value="3">Drafts</option>
                    </select>
                </div>
                <div class="col-md-9">
                    <form class="f-right">
                        <div class="right-icon-control">
                           <!--  <button type="button" class="btn btn-sm btn-light" onclick="post('allport','sms','get')">Reload List Port</button> -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="mail-body">
                <div class="mail-body-content">
                    <div class="table-responsive">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-responsive dt-responsive">
                                    <table id="dt-sms" class="table table-striped table-bordered nowrap">
                                        <thead>
                                            <tr>
                                                <th class="text-center" width="2%">
                                                    <div class="checkbox-fade fade-in-primary">
                                                        <label>
                                                            <input type="checkbox" onClick="checkall(this);cache_select()"><span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span><span class="text-inverse">#</span>
                                                        </label>
                                                    </div>
                                                </th>
                                                <th width="5%">Usb:Port</th>
                                                <th width="10%">Function</th>
                                                <th width="5%">Number</th>
                                                <th width="5%">Date</th>
                                                <th width="30%">Content</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right-side section end -->
    </div>
</div>
<div id="view_sms" class="modal fade bd-example-modal-sm" role="dialog" tabindex="0" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><i class="fa fa-send"></i> Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <label for="ms_fr">From : <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ms_fr" placeholder="Message are sent from" disabled>
                        </div>
                        <div class="col-sm-2 col-form-label">
                            <label for="ms_port">Port - EMEI : <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ms_port" placeholder="Port Recviced message" disabled>
                        </div>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="res" rows="12" onclick=""></textarea>
                        </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="reply_sms()" class="btn btn-info btn-sm">Reply</button>
                <button type="button" onclick="forward_sms()" class="btn btn-info btn-sm">Forward</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
  </div>
</div>
<div id="send_sms" class="modal fade bd-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><i class="fa fa-send"></i> Send New Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="f_sendsms">
                <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <div class="checkbox-fade fade-in-primary">
                                <label>
                                    <input type="checkbox" onClick="checkall2(this);"><span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span><span class="text-inverse"> All</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-10" id="s_port">
                        </div>
                        <div class="col-sm-2 col-form-label">
                            <label for="to_num">To Number : <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-sm-10" for="to_num">
                            <input type="text" class="form-control" id="to_num" placeholder="Enter multiple compartment numbers separated by commas +84868791234,+849998888777,">
                        </div>
                        <div class="col-sm-12" for="message">
                            <textarea class="form-control" id="message" name="message" rows="6" onclick=""></textarea>
                        </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="sending_sms()" class="btn btn-info btn-sm">Send</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
  </div>
</div>
<div id="config_tb" class="modal fade bd-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><i class="ti-settings"></i> Config Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="number" class="form-control" id="time_rl" placeholder="Time Auto Reload Table (seconds)">
                        </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="config_table()" class="btn btn-info btn-sm">Save</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/bower_components/stroll/js/stroll.js"></script>
<script type="text/javascript" src="/static/assets/pages/list-scroll/list-custom.js"></script>
<script type="text/javascript" src="/static/assets/js/sms.js?ver={{version}}"></script>
{% endblock %}