<div class="card-header">
    <h5>License</h5>
    <div class="card-header-right">
        <i class="icofont icofont-refresh"></i>
    </div>
</div>
<div class="card-block">
<li><span class="text-success">License key:</span> <span>{{runing['key']}}</span></li>
<li><span class="text-success">Created at:</span> <span>{{runing['dates']}}</span></li>
<li><span class="text-success">Expires:</span> <span>Forever</span></li>
<li><span class="text-success">Number USB:</span> <span>Unlimit</span></li>
<li><span class="text-success">Soft Version:</span> <span>{{version}}</span></li>
<li><span class="text-success">Device Version:</span> <span>Sproxy {{name_device}}</span></li>
</div>