<div class="card-header">
    <h5>Active Sproxy Device</h5>
    <div class="card-header-right">
        <i class="icofont icofont-refresh"></i>
    </div>
</div>
<div class="card-block">
    <form method="post" id="active_device">
        <div class="row form-group">
            <div class="col-sm-2">
                <label class="col-form-label">License Key: <span class="text-danger"> *</span>
                </label>
            </div>
            <div class="col-sm-10">
                <div class="input-daterange input-group">
                    <input type="text" class="input-sm form-control" id="key_active" value="" placeholder="Please Enter License Key Active">
                    <button type="submit" class="btn btn-md btn-success"> Active</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $('#active_device').submit(function() {
        event.preventDefault();
        var key = $("#key_active").val();
        if (key.length < 63){
            toastr["error"]('License Key Invalid')
            return false;
        }else{
            post('active_device', {'key':key},'post');
        }
    });
</script>