<div class="card-header">
    <h5>Change Password</h5>
    <div class="card-header-right">
        <i class="icofont icofont-refresh"></i>
    </div>
</div>
<div class="card-block" id="login_user_current">
    <form method="post" id="login_user">
        <div class="row form-group">
            <div class="col-sm-2">
                <label class="col-form-label">Current Username: <span class="text-danger"> *</span></label>
            </div>
            <div class="col-md-10">
                    <input type="text" class="form-control" id="username_old" placeholder="Enter Username" minlength="4">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label class="col-form-label">Current Password: <span class="text-danger"> *</span></label>
            </div>
            <div class="col-md-10">
                    <input type="password" class="form-control" id="password_old" placeholder="Enter Password" minlength="4">
            </div>
        </div>
        <div class="col-sm-12">
        <button type="submit" class="btn btn-sm btn-success"> Verify</button>
    </div>
    </form>
</div>
<div class="card-block" id="set_new_user">
    <form method="post" id="set_user">
        <div class="row form-group">
            <div class="col-sm-2">
                <label class="col-form-label">New Username: <span class="text-danger"> *</span></label>
            </div>
            <div class="col-md-10">
                    <input type="text" class="form-control" id="username" placeholder="Enter Username" minlength="4">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label class="col-form-label">New Password: <span class="text-danger"> *</span></label>
            </div>
            <div class="col-md-10">
                    <input type="password" class="form-control" id="password" placeholder="Enter Password" minlength="4">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label class="col-form-label">Re Password: <span class="text-danger"> *</span></label>
            </div>
            <div class="col-md-10">
                    <input type="password" class="form-control" id="repassword" placeholder="Enter Re Password" minlength="4">
            </div>
        </div>
        <div class="col-sm-12">
        <button type="submit" class="btn btn-sm btn-success"> SET User</button>
    </div>
    </form>
</div>
<script>
$(function(){
    var veri = lc_get('verify_account');
    if (!veri){
     $('#login_user_current').show();
    $('#set_new_user').hide();       
    }else{
    $('#login_user_current').hide();
    $('#set_new_user').show();
    }
    $('#login_user').submit(function() {
        event.preventDefault();
        var username = $("#username_old").val(),password = $("#password_old").val();
        if (username.length < 4){
            toastr["error"]('Account must be over 4 characters')
            return false;
        }else if (password.length < 4){
            toastr["error"]('Password must be over 6 characters')
            return false;
        }else{
            post('verify_account', {'username':username,'password':password},'post');
        }
    });
    $('#set_user').submit(function() {
        event.preventDefault();
        var username = $("#username").val(),password = $("#password").val(),repassword = $("#repassword").val();
        if (username.length < 4){
            toastr["error"]('Account must be over 4 characters')
            return false;
        }else if (password.length < 4){
            toastr["error"]('Password must be over 6 characters')
            return false;
        }else if (password !== repassword){
            toastr["error"]('password mismatched again')
            return false;
        }else{
            post('set_account', {'username':username,'password':password,'repassword':repassword},'post');
        }
    });
})
</script>