<div class="card-header">
    <h5>Change Range Port</h5>
    <div class="card-header-right">
        <i class="icofont icofont-refresh"></i>
    </div>
</div>
<div class="card-block">
    <form method="post">
        <div class="row form-group">
            <div class="col-sm-2">
                <label class="col-form-label">Range Port: <span class="text-danger"> *</span>
                </label>
            </div>
            <div class="col-sm-10">
                <div class="input-daterange input-group">
                    <input type="number" class="input-sm form-control" id="port_start" value="{{cfg['default']['port_start']}}" placeholder="Port Start">
                    <span class="input-group-addon">to</span>
                    <input type="number" class="input-sm form-control" id="port_end" value="{{cfg['default']['port_end']}}" placeholder="Port End">
                    <button type="button" class="btn btn-md btn-success" onclick="change_range('default')"><span class="fab fa-app-store"></span> Change</button>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="col-form-label">Range Port USB: <span class="text-danger"> *</span>
                </label>
            </div>
            <div class="col-sm-10">
                <div class="input-daterange input-group">
                    <input type="number" class="input-sm form-control" id="port_usb_start" value="{{cfg['default']['port_usb_start']}}" placeholder="Port Start">
                    <span class="input-group-addon">to</span>
                    <input type="number" class="input-sm form-control" id="port_usb_end" value="{{cfg['default']['port_usb_end']}}" placeholder="Port End">
                    <button type="button" class="btn btn-md btn-success" onclick="change_range('usb')"><span class="fab fa-app-store"></span> Change</button>
                </div>
            </div>
                <li class="text-danger input-group">
                    When making changes to the port range, do not turn off the device for 5 minutes. Turning off the device may lead to system failure.
                </li>
                <li class="text-primary input-group">
                    The start port must not be greater than the end port
                </li>
                <li class="text-warning input-group">
                    Minimum port length is 30 ports, maximum port 150
                </li>
                <li class="text-danger input-group">
                    port is in the range 1000-63555
                </li>
        </div>
    </form>
</div>