<div class="card-header">
    <h5>Theme Color</h5>
    <div class="card-header-right">
        <i class="icofont icofont-refresh"></i>
    </div>
</div>
<div class="card-block">
    <div class="color-picker">
            <h4 class="color">Choose interface color:</h4>
            <div class="colors mt-4">
                <a href="#" class="color-1"></a>
                <a href="#" class="color-2"></a>
                <a href="#" class="color-3"></a>
                <a href="#" class="color-4"></a>
                <a href="#" class="color-5"></a>
                <a href="#" class="color-6"></a>
            </div>
    </div>
</div>